<footer>
    <div class="container-box">
      <div class="row-box">
        <div class="coln" id="company">
          <img src="images/logo.png" alt="" class="logo" />
          <h3>About</h3>
          <p>
            At Technu, we design and manufacture innovative chemical storage
            tank systems. Issues like fuming, temperature sensitivity, weight
            and chemical reaction are used to create the ideal storage system
            for a specific chemical, at drawing-board level.
          </p>
          <div class="socials">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>

        <div class="coln" id="services">
          <h3>Products</h3>
          <div class="links">
            <a href="#">NaOCL Tanks</a>
            <a href="#">H2SO4 Tanks</a>
            <a href="#">HCL Tanks</a>
            <a href="#">NAOH Tanks</a>
          </div>
        </div>

        <div class="coln" id="useful-links">
          <h3>Links</h3>
          <div class="links">
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Our Policy</a>
            <a href="#">Help</a>
          </div>
        </div>

        <div class="coln" id="contact">
          <h3>Contact</h3>
          <div class="contact-details">
            <i class="fa fa-location"></i>
            <p>
              A-602, Naurang House, 21, K.G. Marg, Connaught Place, New
              Delhi-110001, India.
            </p>
          </div>
          <div class="contact-details">
            <i class="fa fa-phone"></i>
            <p>+91-8595392713</p>
          </div>
        </div>
      </div>

      <div class="row-box">
        <div class="form">
          <form action="/home">
            <input type="text" placeholder="Email here..." />
            <button><i class="fa fa-paper-plane"></i></button>
          </form>
        </div>
      </div>
    </div>
  </footer>
</body>
