<% layout("/layouts/boilerplate") %>
<body>
  <div class="container">
    <div class="header">
      <h1>Lined Steel Vessels</h1>
      <div class="image-container">
        <img src="Diesel-Storage-Tank.jpg" alt="Lined Steel Vessel" />
      </div>
    </div>
    <h2>Features</h2>
    <ul>
      <li>
        Durable and chemical- and corrosion-resistant. Bonded to stainless steel
        or carbon steel vessels.
      </li>
    </ul>
    <h2>Benefits of TechnuGuard</h2>
    <ul>
      <li>Peace of Mind</li>
      <ul>
        <li>
          The structural integrity of steel plus the chemical & corrosion
          resistance of polyethylene.
        </li>
      </ul>
      <li>Environmental Care</li>
      <ul>
        <li>
          Guards against costly spills and damage to the environment, especially
          off-shore.
        </li>
      </ul>
      <li>Leveraged Investment</li>
      <ul>
        <li>
          Longer product life cycle versus Phenolic or Rubber “Spray-In” liners.
        </li>
        <li>
          5-6MM nominal thickness versus 0.06 thickness for “spray-in” liners.
        </li>
        <li>Multi-use service applications.</li>
      </ul>
    </ul>
  </div>
</body>
