<% layout("/layouts/boilerplate") %>
<body>
  <div class="container">
    <div class="header">
      <h1>Non-Standard Tanks & Custom Molded Products</h1>
      <div class="image-container">
        <img src="HDPE-Chemical-Storage-Tank.jpg" alt="Custom Molded Product" />
      </div>
    </div>
    <h2>Custom Solutions</h2>
    <p class="hds">
      Technu will work with you to create custom solutions for unique situations
      and projects. We have a dedicated engineering team that's ready to help
      you fulfill your critical needs.
    </p>
    <h2>Benefits</h2>
    <ul>
      <li>High impact strength</li>
      <li>Long-term durability</li>
      <li>Broader chemical resistance</li>
      <li>Broader corrosion resistance</li>
      <li>Long-term weatherability</li>
      <li>
        Reduced maintenance compared to expensive alternatives such as stainless
        steel, alloy metals, and high-end FRP
      </li>
    </ul>
  </div>
</body>
