<% layout("/layouts/boilerplate") %>
<div class="container my-4">
  <!-- Heading Section -->
  <div class="row-box">
    <div class="col text-center">
      <h1 class="about-heading">About Us</h1>
    </div>
  </div>
  <!-- First Section -->
  <div class="row featurette d-flex justify-content-center align-items-center">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">
        Innovative Solutions for Liquid Storage and Handling
        <span class="text-body-secondary">at Technu.</span>
      </h2>
      <p class="lead">
        At Technu, we provide innovative solutions for liquid storage and
        handling - right from designing, manufacturing to installation and
        commissioning.
      </p>
    </div>
    <div class="col-md-5">
      <img
        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
        width="500"
        height="500"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-label="Placeholder: 500x500"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
        src="mission.jpg"
      />
    </div>
  </div>

  <!-- Second Section -->
  <div class="row featurette d-flex justify-content-center align-items-center">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">
        Your Single Point Source for All Tank Requirements
        <span class="text-body-secondary">at Technu.</span>
      </h2>
      <p class="lead">
        Technu is a single point source for all your tank requirements. We offer
        tanks made from LLDPE, HDPE, HDXLPE, PP, FRP, MS, and SS for each and
        every application - be it plain drinking water to waste water storage,
        be it mild chemicals to strong acids, alkalis, oxidizers, and hazardous
        chemicals.
      </p>
      <p class="lead">
        Technu provides tanks ranging from 50 litres to 50,000 litres and in
        various shapes and designs - Vertical, Horizontal, Cone bottom,
        containment type, etc. Tanks materials and designs are selected based on
        compatibility and handling requirements of chemicals, oils/liquids to be
        stored.
      </p>
    </div>
    <div class="col-md-5">
      <img
        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
        width="500"
        height="500"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-label="Placeholder: 500x500"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
        src="tank.jpg"
      />
    </div>
  </div>

  <!-- Third Section -->
  <div class="row featurette d-flex justify-content-center align-items-center">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">
        Located in Greater Noida, India
        <span class="text-body-secondary">at Technu.</span>
      </h2>
      <p class="lead">
        The company is located at Greater Noida, the ultramodern Industrial town
        of the country, at a distance of 50 km from National Capital, New Delhi.
        It is managed by highly qualified professionals having rich experience
        in the Polymer industry and metal tank fabrication industry.
      </p>
      <p class="lead">
        The molded plastic tanks are made on automated moulding machines, and
        other tanks are made by extrusion, fabrication, or other molding
        techniques depending upon tank material and design.
      </p>
    </div>
    <div class="col-md-5">
      <!-- <img
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          width="500"
          height="500"
          role="img"
          aria-label="Placeholder: 500x500"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
          src=""
        /> -->
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3506.0854152159823!2d77.52133292674877!3d28.50707777226148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ceaf95d8904c9%3A0x229c72b4b4269282!2zaSwgMjAsIOCkuOCkvuCkiOCknyBDIOCkruCkvuCksOCljeCklywg4KS44KWC4KSw4KSc4KSq4KWB4KSwIOCkh-CkguCkoeCkuOCljeCkn-CljeCksOCkv-Ckr-CksiDgpI_gpLDgpL_gpK_gpL4sIOCkrOCljeCksuClieCklSBFLCDgpIngpKrgpY3gpLjgpL_gpKbgpY3gpJUg4KS44KS-4KSI4KSfIEMsIOCkuOClguCksOCknOCkquClgeCksCwg4KSX4KWN4KSw4KWH4KSf4KSwIOCkqOCli-Ckj-CkoeCkviwg4KSJ4KSk4KWN4KSk4KSwIOCkquCljeCksOCkpuClh-CktiAyMDEzMDg!5e0!3m2!1shi!2sin!4v1719488186681!5m2!1shi!2sin"
        width="500"
        height="400"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>

  <!-- Fourth Section -->
  <div class="row featurette d-flex justify-content-center align-items-center">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">
        Quality Control and Assurance
        <span class="text-body-secondary">at Technu.</span>
      </h2>
      <p class="lead">
        The tanks at Technu are made as per ISO and other international
        guidelines and undergo stringent quality control and performance tests
        before being released in the market, ensuring uninterrupted performance
        and durability.
      </p>
      <p class="lead">
        We also provide complete fittings and accessories such as pumps,
        stirrers, mixers, valves, nozzles, fittings, level gauges, and ladders
        in compatible materials to ensure foolproof performance of the system.
      </p>
    </div>
    <div class="col-md-5">
      <img
        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
        width="500"
        height="500"
        role="img"
        aria-label="Placeholder: 500x500"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
        src="quality.jpg"
      />
    </div>
  </div>
</div>
