<% layout("/layouts/boilerplate") %>
<div class="sub-heading">
    <h1>Our Desings</h1>
  </div>

  <!-- Desings section starts -->

  <section class="blog">
    <div class="box-container">
      <div class="box">
        <div class="image">
          <img src="vertical.jpg" alt="" />
        </div>
        <div class="content">
          <h3>VERTICAL STORAGE TANKS</h3>
          <p>
            Industrial (ASTM D1998-15) and Commercial design standards
            available.
          </p>
          <a href="/vertical" class="btns">read more</a>
        </div>
      </div>

      <div class="box">
        <div class="image">
          <img src="Horizontal.jpg" alt="" />
        </div>
        <div class="content">
          <h3>HORIZONTAL STORAGE TANKS</h3>
          <p>
            Material options for a diverse range of application requirements.
          </p>
          <a href="/horizental" class="btns">read more</a>
        </div>
      </div>

      <div class="box">
        <div class="image">
          <img src="open-tank-1.jpg" alt="" />
        </div>
        <div class="content">
          <h3>OPEN-TOP TANKS</h3>
          <p>
            Long lasting, corrosion resistant open top plastic tanks and
            mixing tanks provide maximum options for batch mixing, storage,
            dispensing & material handling.
          </p>
          <a href="#" class="btns">read more</a>
        </div>
      </div>

      <div class="box">
        <div class="image">
          <img src="cone-bottom-tank.jpg" alt="" />
        </div>
        <div class="content">
          <h3>CONE BOTTOM TANKS</h3>
          <p>
            Available in 30°, 45°, and 60° slopes, sizes range from 120-20,000
            litre .
          </p>
          <a href="/cone" class="btns">read more</a>
        </div>
      </div>

      <div class="box">
        <div class="image">
          <img src="Diesel-Storage-Tank.jpg" alt="" />
        </div>
        <div class="content">
          <h3>LINED STEEL VESSELS</h3>
          <p>
            Durable and chemical- and corrosion-resistant. Bonded to stainless
            steel or carbon steel vessels.
          </p>
          <a href="/diesel" class="btns">read more</a>
        </div>
      </div>

      <div class="box">
        <div class="image">
          <img src="HDPE-Chemical-Storage-Tank.jpg" alt="" />
        </div>
        <div class="content">
          <h3>NON-STANDARD TANKS & CUSTOM MOLDED PRODUCTS</h3>
          <p>
            Technu will work with you to create custom solutions for unique
            situations and projects.
          </p>
          <a href="/hdpe" class="btns">read more</a>
        </div>
      </div>
    </div>
  </section>
</body>
