<% layout("/layouts/boilerplate") %>

  <div class="sub-heading">
    <h1>Our Products</h1>
  </div>

  <!-- Products section starts -->

  <section class="blog">
    <div class="box-container">
      <div class="box">
        <div class="image">
          <img src="Na.png" alt="" />
        </div>
        <div class="content">
          <h3>NAOCL (SODIUM HYPOCHLORITE) CHEMICAL TANKS</h3>
          <p>
            Sodium hypochlorite solutions are very widely used within the water
            treatment industries
          </p>
          <!-- <a href="views\products\NaOCL.ejs" class="btns">read more</a> -->
          <a href="/naocl" class="btns">read more</a>
        </div>
      </div>

      <div class="box">
        <div class="image">
          <img src="H2.png" alt="" />
        </div>
        <div class="content">
          <h3>H2SO4 (SULFURIC ACID) CHEMICAL TANK</h3>
          <p>
            With their robust load tolerance, crosslinked polyethylene tanks can
            more than handle the chemical’s heavy weight.
          </p>
          <!-- <a href="H2SO4.html" class="btns">read more</a> -->
          <a href="/h2so4" class="btns">read more</a>
        </div>
      </div>

      <div class="box">
        <div class="image">
          <img src="HC.png" alt="" />
        </div>
        <div class="content">
          <h3>HCL (HYDROCHLORIC ACID) TANKS</h3>
          <p>
            Also known as muriatic acid, hydrochloric acid is used to acidize
            petroleum wells, remove scales from boilers, aid in ore reduction
            and serve as a chemical intermediate, among other applications.
          </p>
          <!-- <a href="HCL.html" class="btns">read more</a> -->
          <a href="/hcl" class="btns">read more</a>
        </div>
      </div>

      <div class="box">
        <div class="image">
          <img src="NH.png" alt="" />
        </div>
        <div class="content">
          <h3>NAOH (SODIUM HYDROXIDE) TANKS</h3>
          <p>
            A tank system and proper fittings from Technu can reduce your risk
            with this hazardous chemical.
          </p>
          <!-- <a href="NaOH.html" class="btns">read more</a> -->
          <a href="/naoh" class="btns">read more</a>
        </div>
      </div>

      <div class="box">
        <div class="image">
          <img src="HF.png" alt="" />
        </div>
        <div class="content">
          <h3>HF (HYDROFLUORIC ACID) TANKS</h3>
          <p>When people’s lives are at risk, you can take no chances.</p>
          <!-- <a href="HF.html" class="btns">read more</a> -->
          <a href="/hf" class="btns">read more</a>
        </div>
      </div>

      <div class="box">
        <div class="image">
          <img src="H2O.png" alt="" />
        </div>
        <div class="content">
          <h3>H2O2 (HYDROGEN PEROXIDE) TANKS</h3>
          <p>
            Concentrated solutions are highly toxic and are strong irritants
          </p>
          <!-- <a href="H2O2.html" class="btns">read more</a> -->
          <a href="/h2o2" class="btns">read more</a>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="C2.png" alt="" />
        </div>
        <div class="content">
          <h3>C2H4O3 (PERACETIC ACID) TANKS</h3>
          <p>It is colorless and has a pungent vinegar odor.</p>
          <!-- <a href="C2H4.html" class="btns">read more</a> -->
          <a href="/c2h4" class="btns">read more</a>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="Wine.png" alt="" />
        </div>
        <div class="content">
          <h3>C2H6O TANKS</h3>
          <p>WINE TANKS</p>
          <!-- <a href="Wine.html" class="btns">read more</a> -->
          <a href="/c2h6" class="btns">read more</a>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="water-storage-tank.png" alt="" />
        </div>
        <div class="content">
          <h3>WATER STORAGE TANK</h3>
          <p>Technu International Pvt. Ltd</p>
          <!-- <a href="water.html" class="btns">read more</a> -->
          <a href="/water-stroge" class="btns">read more</a>
        </div>
      </div>
    </div>
  </section>
</body>
