<% layout("/layouts/boilerplate") %>
<body class="na">
  <!-- Peracetic Acid Chemical Tanks Section -->
  <section class="naocl-section">
    <div class="naocl-container">
      <div class="naocl-text">
        <h2>C2H4O3 (Peracetic Acid) Tanks</h2>
        <p><strong>Peracetic Acid</strong></p>
        <p>
          Peracetic Acid, also known as PAA, is an organic chemical compound
          formed by blending hydrogen peroxide and acetic acid (the primary
          component in vinegar). It is colorless and has a pungent vinegar odor.
          PAA is a highly reactive antimicrobial agent that breaks down to
          acetic acid, oxygen, and water, leaving no harmful residue. PAA
          removes surface contaminants such as bacteria, fungi, and viruses.
        </p>
        <p>
          PAA is widely used in healthcare, produce processing, beef and poultry
          processing, aseptic packaging & filling, and water treatment. It is
          highly effective in decreasing the incidents of pathogenic organisms
          in or on food and helps reduce the number of decay or food spoilage
          organisms present in the processing of meat, dairy, poultry, seafood,
          and vegetable food items.
        </p>
        <p>
          The most effective ways to prevent over-exposure to PAA include
          minimizing the amount of vapor, mist, or droplets that come into
          direct contact with employees by providing adequate storage,
          containment, ventilation, and process controls.
        </p>
        <p>
          Poly Processing’s tanks and fitting systems can be combined
          specifically to safely contain PAA, reducing the risks presented by
          this highly oxidizing chemical.
        </p>
      </div>
      <div class="naocl-image">
        <img src="C2.png" alt="Peracetic Acid Tank" />
      </div>
    </div>
  </section>
</body>
