<% layout("/layouts/boilerplate") %>
<body class="wine">
  <div class="fluid-image">
    <img src="Wine.png" alt="Wine Tank" />
  </div>

  <h2 class="wine-heading">Fluid Specifications</h2>

  <table class="wine-table">
    <tr class="ta">
      <th>Fluid</th>
      <th>Resin Type</th>
      <th>Specific Gravity Rating</th>
      <th>Fitting Material</th>
      <th>Gasket Material</th>
      <th>Bolt Material</th>
    </tr>
    <tr>
      <td>Wine</td>
      <td>HDPE</td>
      <td>1.9 thick wall</td>
      <td>PVC, SS, PE</td>
      <td>EPDM</td>
      <td>SS</td>
    </tr>
  </table>
</body>
