<% layout("/layouts/boilerplate") %>
<body class="na">
  <!-- Hydrogen Peroxide Chemical Tanks Section -->
  <section class="naocl-section">
    <div class="naocl-container">
      <div class="naocl-text">
        <h2>H2O2 (Hydrogen Peroxide) Tanks</h2>
        <p><strong>Hydrogen Peroxide</strong></p>
        <p>
          Available in a variety of concentrations, hydrogen peroxide is used as
          an oxidizing agent in textile, paper and fur processing. It is also
          used as a plasticizer, a polymerization catalyst, and a water and
          sewage treatment chemical.
        </p>
        <h3>Challenges in Storage:</h3>
        <ul>
          <li>
            Concentrated solutions are highly toxic and are strong irritants.
          </li>
          <li>
            Hydrogen peroxide is relatively unstable and decomposes into water
            and oxygen when exposed to the environment. The primary danger of
            this composition is fire and/or explosion.
          </li>
        </ul>
        <p>
          For concentrations of hydrogen peroxide that are below 50%,
          high-density crosslinked polyethylene is a smart option.
        </p>
        <p>
          If there is a chance that hydrogen peroxide has escaped from its
          storage system, evacuation is mandatory, since explosion could occur.
          It’s imperative that an environment be made as leak-free as possible.
          Technu’s crosslinked polyethylene helps ensure that, by providing a
          high-strength storage option for hydrogen peroxide.
        </p>
        <h3>The SAFE-Tank® System</h3>
        <p>
          The SAFE-Tank® system offers tank-within-a-tank protection for
          secondary containment.
        </p>
        <p>
          And if secondary containment is already provided for the tank, Technu
          recommends the IMFO® tank system to provide complete drainage without
          entering the vessel shell, helping personnel avoid contact with this
          strong irritant.
        </p>
      </div>
      <div class="naocl-image">
        <img src="H2O.png" alt="Hydrogen Peroxide Tank" />
      </div>
    </div>
  </section>
</body>
