<% layout("/layouts/boilerplate") %>
<body class="h2so4">
    <div class="container">
        <div class="header">
            <h1 class="h2-H">H2SO4 (Sulfuric Acid) Chemical Tank</h1>
          <div class="image-container">
            <img src="H2.png" alt="Vertical Storage Tank" />
          </div>
        </div>
  
                
                <h3 class="h2-H">Sulfuric Acid</h3>
                <div class="h2so4-p">
                <p>With their robust load tolerance, crosslinked polyethylene tanks can more than handle the chemical’s heavy weight. The molecular bonding of XLPE and tank wall thickness is particularly important in the bottom third of the tank, where high levels of load are concentrated.</p>
                <p>Sulfuric acid is used in a huge array of industrial applications, from water and wastewater treatment to the manufacture of chemicals, fertilizer, and car batteries.</p>
                <p>This highly exothermic acid presents serious storage challenges:</p>
               </div>
                <ul>
                    <li>Sulfuric acid is an extremely heavy chemical that will test the mechanical integrity of any material.</li>
                    <li>The addition of water to concentrated sulfuric acid leads to the dispersal of a sulfuric acid aerosol – or worse yet, an explosion.</li>
                    <li>If sulfuric acid is spilled on metals, it can create highly flammable hydrogen gas.</li>
                    <li>Skin and other bodily burns from sulfuric acid are potentially more serious than burns from other strong acids. Sulfuric acid dehydrates whatever it touches, and the heat caused by that reaction with water can create secondary thermal damage.</li>
                </ul>
                <h3 class="h2-H">Suggested Tank Material and Fittings for Sulfuric Acid Storage and Handling</h3>
                <table class="h2-table">
                    <thead class="h2-thead">
                        <tr>
                            <th>Chemical</th>
                            <th>Resin Type</th>
                            <th>Specific Gravity Rating</th>
                            <th>Fitting Material</th>
                            <th>Gasket Material</th>
                            <th>Bolt Material</th>
                        </tr>
                    </thead>
                    <tbody class="h2-tbody">
                        <tr >
                            <td>Sulfuric Acid ≥ 93%</td>
                            <td>XLPE with OR-1000™</td>
                            <td>2.2</td>
                            <td>PVC</td>
                            <td>Viton®</td>
                            <td>316SS</td>
                        </tr>
                        <tr>
                            <td>Sulfuric Acid 80%-92%</td>
                            <td>XLPE with OR-1000™</td>
                            <td>2.2</td>
                            <td>PVC</td>
                            <td>Viton®</td>
                            <td>C-276</td>
                        </tr>
                        <tr>
                            <td>Sulfuric Acid < 80%</td>
                            <td>XLPE with OR-1000™</td>
                            <td>1.9</td>
                            <td>PVC</td>
                            <td>Viton®</td>
                            <td>C-276</td>
                        </tr>
                    </tbody>
                </table>
                <p class="h2-p"><em>* Containment tank is required with this chemical in all applications.</em></p>
            </div>
           
        </div>
    </div>
</body>
