<% layout("/layouts/boilerplate") %>
<body class="na">
  <!-- Hydrochloric Acid Chemical Tanks Section -->
  <section class="naocl-section">
    <div class="naocl-container">
      <div class="naocl-text">
        <h2>HCL (Hydrochloric Acid) Tanks</h2>
        <p><strong>Hydrochloric Acid</strong></p>
        <p>CONTROLLING A CHEMICAL – AND ITS FUMES</p>
        <p>
          Also known as muriatic acid, hydrochloric acid is used to acidize
          petroleum wells, remove scales from boilers, aid in ore reduction and
          serve as a chemical intermediate, among other applications.
        </p>
        <p>
          This pungent liquid is a strong, highly corrosive acid, and it
          presents serious storage challenges:
        </p>
        <ul>
          <li>
            Hydrochloric acid has an extremely low pH, making it highly
            corrosive.
          </li>
          <li>
            The chemical creates toxic fumes that can deteriorate equipment –
            and these fumes can be fatal to employees. To control the chemical’s
            fumes, the tank’s venting system must be exact.
          </li>
          <li>
            Tank maintenance can also be an issue because of fuming. Entering
            the tank must be avoided at all costs, and part replacement must be
            minimized.
          </li>
          <li>
            By creating a strong, corrosion-resistant tank system that ties into
            a scrubber system, all of these issues can be addressed.
          </li>
        </ul>
      </div>
      <div class="naocl-image">
        <img src="HC.png" alt="Hydrochloric Acid Tank" />
      </div>
    </div>
  </section>
</body>
