<% layout("/layouts/boilerplate") %>
<body class="na">
  <!-- Hydrofluoric Acid Chemical Tanks Section -->
  <section class="naocl-section">
    <div class="naocl-container">
      <div class="naocl-text">
        <h2>Hydrofluoric Acid (HF) Tanks</h2>
        <p><strong>Reducing the Risk of Human Exposure</strong></p>
        <p>
          Used in the production of aluminum, fluorocarbons, gasoline, and for
          applications like glass etching and uranium processing, hydrofluoric
          acid is an extremely dangerous chemical that must be handled with the
          utmost care.
        </p>
        <p>
          This corrosive liquid penetrates tissue more quickly than typical
          acids. Toxicity can occur through dermal, ocular, inhalation, and oral
          routes.
        </p>
        <p>
          Since HF alters nerve function, accidental exposure can go unnoticed
          by the victim, delaying treatment and increasing the extent of injury.
          It can also be absorbed by the blood through the skin, reacting with
          blood calcium and potentially causing a heart attack.
        </p>
        <p>
          The extreme nature of this chemical calls for superior structural
          integrity – the level of integrity Technu is known for.
        </p>
        <h3>The Technu Hydrofluoric Acid System</h3>
        <p>
          When people’s lives are at risk, you can take no chances. You need a
          system that goes above and beyond to prevent contact with this
          corrosive acid. That system starts with a crosslinked polyethylene
          tank. XLPE is a thermoset resin that gives customers 20 times the
          environmental stress-crack resistance, 10 times the molecular weight,
          and 5 times the impact and tensile strength of HDPE. This system
          carries a warranty for a full five years.
        </p>
      </div>
      <div class="naocl-image">
        <img src="HF.png" alt="Hydrofluoric Acid Tank" />
      </div>
    </div>
  </section>
</body>
