<% layout("/layouts/boilerplate") %>
<body class="na">
  <!-- Sodium Hydroxide Chemical Tanks Section -->
  <section class="naocl-section">
    <div class="naocl-container">
      <div class="naocl-text">
        <h2>NAOH (Sodium Hydroxide) Tanks</h2>
        <p><strong>Sodium Hydroxide</strong></p>
        <p>DEFYING A CHEMICAL THAT “FINDS” LEAKS</p>
        <p>
          Also known as caustic soda or liquid lye, sodium hydroxide is used to
          adjust pH in water and wastewater treatment and in the manufacture of
          chemicals, rayon, cellophane, pulp and paper, aluminum, detergents,
          soaps and a wide range of other products.
        </p>
        <h3>As for storage:</h3>
        <ul>
          <li>
            Sodium hydroxide is a “slippery” chemical that tries to find leak
            paths.
          </li>
          <li>
            This chemical is extremely corrosive to tissue. It is also highly
            toxic if ingested.
          </li>
          <li>
            If sodium hydroxide is not kept at a specific temperature, it will
            crystallize and go solid.
          </li>
          <li>
            A tank system and proper fittings from Technu can reduce your risk
            with this hazardous chemical.
          </li>
        </ul>
        <p>
          The key to storing sodium hydroxide properly is strong, safe
          containment. Since the chemical is so corrosive, secondary containment
          is a must.
        </p>
        <p>
          The tank’s high-density crosslinked polyethylene construction means
          greater strength. It is so strong, in fact, that Poly offers a
          warranty of five full years on all tanks.
        </p>
      </div>
      <div class="naocl-image">
        <img src="NH.png" alt="Sodium Hydroxide Tank" />
      </div>
    </div>
  </section>
</body>
